body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

.App-header {
  background-color: rgb(60,60,60);
  font-family: Garamond, serif;
  font-size: 20px;
  padding: 20px;
  color:rgb(160, 205, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.App-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Search Component */
.search-bar {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}

.search-bar input:focus {
  outline: none;
  background-color: white;
}

.search-icon {
  font-size: 1.2px;
  margin-right: 10px;
  color:  rgb(35,47,62);
}

/* Product Display */
.product-list {
  flex: 2;
  display: flex;
  gap: 20px;
}

.product {
  background-color: rgb(50, 50, 50);
  text-align: center;
  width: 33%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
}

.product:hover {
  transform: translateY(-5px) scale(1.03);
}

.product img {
  max-width: 100%;
  height: 150px;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  /* Enhanced box shadow */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* Added box shadow transition */
}

.product:hover img {
  transform: scale(1.05);
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  /* Enhanced box shadow on hover */
}

.product h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: rgb(255, 255, 255);
}

.product p {
  font-size: 1.1rem;
  color: rgb(165, 176, 187);
  margin: 5px 0;
}

/* Cart Checkout */
.cart {
  flex: 1;
  min-width: 300px;
  margin-top: 3%;
  background-color:rgb(50,50,50);
  padding: 10px 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  display: none;
  position: sticky;
  top: 20px;
}

.cart.active {
  display: block;
}

.cart h2 {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  margin-top: 0;
  text-align: center;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin: 15px 0;
  padding: 10px;
  border-bottom: 1px solid rgb(182, 194, 208);
}

.cart-item .item-image img {
  max-width: 90px;
  height: auto;
  margin-right: 20px;
  border-radius: 20%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.cart-item .item-image img:hover {
  transform: scale(1.1);
}

.cart-item .item-details {
  flex: 1;
  display: inline;
}


.cart-item h3 {
  display: inline;
  font-size: 1.4rem;
  margin: 0;
  color: rgb(255, 255, 255);
}

.cart-item p {
  font-size: 1.1rem;
  color: rgb(183, 195, 206);
  margin: 5px 0;
}

.cart-item .item-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-item .item-actions button {
  background-color: rgb(75, 75, 75);
  border: none;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
}

.cart-item .item-actions button:hover {
  background-color: rgb(135, 135, 135);
}

.cart-item .quantity {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  font-size: 1rem;
  color: #ffffff;
}

.cart .total {
  font-size: 1.4rem;
  margin: 20px 0;
  text-align: right;
  color: rgb(181, 189, 200);
}

.cart .checkout-button {
  background-color: rgb(35,47,62);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1.2rem;
  float: left;
}

.cart .checkout-button:hover {
  background-color: rgb(135, 135, 135);
}

.checkout-message {
  font-size: 1.4rem;
  margin-top: 30px;
  color:  rgb(178, 191, 207);
  text-align: center;
}

.no-results,
.empty-cart {
  text-align: center;
  font-size: 1.4rem;
  color: #777;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .App-main {
      flex-direction: column;
      align-items: center;
  }

  .product-list {
      width: 100%;
      margin-bottom: 5px;
  }

  .product {
      width: 50%;
  }

  .cart {
      min-width: unset;
      margin-top: 30px;
  }
}

.add-to-cart-button {
  background-color: rgb(75,75,75);
  border: none;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
}

.add-to-cart-button:hover {
  background-color: rgb(135, 135, 135);
}

.item-info {
  display: flex;
  flex-direction: row;
}

.item-details {
  margin-top: 4%;
}

.item-actions .quantity p {
  margin: 10% 10%;
}

.product-list {
  padding-bottom: 5%;
  border-bottom: 2px solid rgb(151, 159, 169);
}

.checkout-section {
  float: right;
  margin: 0;
}

.checkout-section .checkout-button {
  background-color:  rgb(75,75,75);
  border-radius: 0px;
}

.checkout-section .checkout-button:hover {
  background-color: rgb(135, 135, 135);
}
